$primary: #f2f2f3;
$headings-color: #1f211b;
$navbar-dark-brand-color: #5f7420;

$nav-link-color: #d6f6d9;
$nav-link-hover-color: #74baee;



$background: #fdf4e8;
$primary: #578554;
$secondary: #c7d0ab;
$accent: #573dfe;

$enable-negative-margins: true;



//import boostrap
@import "../node_modules/bootstrap/scss/bootstrap";

