$primary: #f2f2f3;

$navbar-dark-brand-color: #5f7420;





$background: #fffbf6;
$primary: #588754;
$secondary: #213E73;
$accent: #213E73;


$enable-negative-margins: true;



//import boostrap
@import "../node_modules/bootstrap/scss/bootstrap";

